<div class="container">
  <div class="row my-3">
    <div class="col">
      <h1>Beers</h1>
    </div>
    <div class="col-sm-auto d-flex align-items-center justify-content-end">
      <div class="position-relative">
        <input
          type="text"
          class="form-control rounded-pill"
          (input)="searchInput($event)"
        />
        <div
          class="position-absolute h-100 end-0 top-0 d-flex align-items-center px-1"
        >
          <i class="bi-search mx-2 text-muted"></i>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!loading" class="position-relative">
    <div *ngFor="let beer of beers" class="card mb-2">
      <div
        class="card-body"
        [style]="{ borderLeft: '3px solid ' + getSRMColor(beer.srm) }"
      >
        <div class="row">
          <div class="col-auto">
            {{ beer.name }} • <span class="text-muted">{{ beer.tagline }}</span>
          </div>

          <div class="col text-end">
            <span
              class="badge rounded-pill me-2"
              [style]="{
                backgroundColor: getSRMColor(beer.srm)
              }"
              >SRM: {{ beer.srm || "?" }}</span
            >

            <span class="badge bg-secondary rounded-pill me-2"
              >IBU: {{ beer.ibu || "?" }}</span
            >

            <span class="badge bg-secondary rounded-pill"
              >ABV: {{ beer.abv || "?" }}%</span
            >
          </div>
        </div>
      </div>
      <a [routerLink]="'/beers/' + beer._id" class="stretched-link"></a>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <span
      class="spinner-border text-muted"
      role="status"
      aria-hidden="true"
    ></span>
  </div>
</div>
