<div *ngIf="beer">
  <div
    [style]="{
      backgroundColor: srmToColor(beer.srm).toHexString(),
      height: '300px',
      borderBottom: '2px solid' + srmToColor(beer.srm).darken(10).toHexString()
    }"
    class="text-light"
  >
    <div class="container h-100">
      <div class="d-flex w-100 h-100 flex-column">
        <div class="py-3">
          <a routerLink="/beers" class="text-white h3 my-3">
            <i class="bi-arrow-left"></i>
          </a>
        </div>

        <div class="row mt-auto mb-2">
          <div class="col-10">
            <div class="row">
              <div class="col-auto">
                <h1>{{ beer.name }}</h1>
              </div>

              <div class="col-sm-auto d-flex align-items-center">
                <span class="me-3">•</span> IBU: {{ beer.ibu }}
              </div>

              <div class="col-sm-auto d-flex align-items-center">
                <span class="me-3">•</span> ABV: {{ beer.abv }}%
              </div>

              <div class="col-sm-auto d-flex align-items-center">
                <span class="me-3">•</span> SRM: {{ beer.srm }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container position-relative">
    <div class="row mt-3">
      <div class="col-9">
        <h3 [style]="{ color: srmToColor(beer.srm) }">{{ beer.tagline }}</h3>
        <p>
          {{ beer.description }}
        </p>

        <p class="fst-italic">First brewed: {{ beer.first_brewed }}</p>
      </div>
    </div>

    <div
      class="position-absolute top-0 end-0 translate-middle-y d-none d-sm-block"
      style="width: 150px"
    >
      <img [src]="beer.image_url" [alt]="beer.name" class="img-thumbnail p-3" />
    </div>

    <div
      class="position-absolute top-0 end-0 translate-middle-y d-sm-none"
      style="width: 100px"
    >
      <img [src]="beer.image_url" [alt]="beer.name" class="img-thumbnail p-3" />
    </div>

    <app-ingredients [ingredients]="beer.ingredients"></app-ingredients>
  </div>
</div>
