<div class="container">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <h1 class="text-muted">Login</h1>

      <div class="card">
        <div class="card-body">
          <form (submit)="$event.preventDefault()">
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                #email
                class="form-control"
                placeholder="admin@example.com"
                type="email"
              />
            </div>

            <div class="mb-3">
              <label class="form-label" for="password">Password</label>
              <input
                #password
                [class]="'form-control' + (error ? ' is-invalid' : '')"
                placeholder="admin"
                type="password"
              />
              <div class="invalid-feedback">Invalid email or password</div>
            </div>

            <div class="text-end">
              <button
                class="btn btn-primary"
                (click)="loginClick(email.value, password.value)"
                [disabled]="loading"
              >
                <span
                  *ngIf="loading"
                  class="spinner-border spinner-border-sm"
                  role="status"
                  aria-hidden="true"
                ></span>
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
